
@{
    ViewBag.Title = "AddNewItem";
}

<h2>AddNewItem</h2>
<br />
<form action="/Home/AddItem" method="post">

    Name: <input type="text" name="Name" /><br />
    Description: <input type="text" name="Description" /><br />
    Quantity: <input type="text" name="Quantity" /><br />
    Price: <input type="text" name="Price" /><br />


    <input type="submit" value="save Item" />

</form>

