
@{
    ViewBag.Title = "AddUser";
}

<h2>AddUser</h2>

<form action="/Home/AddUser" method="get">

    First Name: <input type="text" name="FirstName" /><br />
    Last Name: <input type="text" name="LastName" /><br />
    Email: <input type="text" name="Email" /><br />
    Phone Number: <input type="text" name="PhoneNumber" /><br />
    Password: <input type="password" name="xx" id="..."/><br />

    <br />

    <input type="submit" value="Register" />
</form>
