
@{
    ViewBag.Title = "AddUser";
}

<h2>AddUser</h2>

<form action="/Home/Register" method="post">

    first Name: <input type="text" name="FirstName" /><br />
    last Name: <input type="text" name="LastName" /><br />
    email: <input type="text" name="Email" /><br />
    phone Number: <input type="text" name="PhoneNumber" /><br />
    password: <input type="Password" name="Password"/><br />

    <br />

    <input type="submit" value="Register" />
</form>
