
@{
    ViewBag.Title = "Error";
}

<h2>Error Message</h2>
<h2>Warning!!You will be taken to the police once you dont stop. This is not a joke.@ViewBag.Address</h2>
@Html.ValidationSummary()

<h3>@ViewBag.ErrorMessage</h3>

